body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch !important;
    width: 100%;

    padding: 0;

    margin: 0;

}

.header{
    padding: 20px;

    display: flex;

    justify-content: space-between;
}

.logo{
    font-size: 32px;

    color: rgba(68,80,100,1)
}

.layout-layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 1000px;
    width: 100%;
}

.layout-block {
    width: 1200px;
    min-width: 1200px;
}

.header {
    margin-bottom: 20px;
}

.products-title{
    color: #133c79;
    font-size: 24px;
    margin-bottom: 20px;
}

.products-list {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.product {
    min-width: 200px;
    width: 200px;

    padding: 20px;

    border: 1px solid #cccccc;

    border-radius: 10px;


    margin: 0px 10px 20px 10px

}

.product__title {

    font-weight: bold;

    margin-bottom: 8px;
}

.product__price{

    margin-bottom: 8px;

    color: #133c79;

    font-size: 24px;

}

.categories{
    display: flex;
}

.categories a{
    margin: 10px;
}